.image-container {
    position: relative;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 20%;
    padding: 10px;
}

.profile__image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 220px;
    width: 220px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    all: unset;  /*Esto anula todas las propiedades del boton(a modificar)*/ 
}


@media (max-width: 768px) {
    .profile__image {
        height: 160px;
        width: 160px;
    };
}
