.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    border: 1px solid black;
    padding: 10px;
}

img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
}


button {
    all: unset;  /*Esto anula todas las propiedades del boton(a modificar)*/ 
}

@media (max-width: 768px) {
    img{
        height: 160px;
        width: 160px;
    };
}