@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Montserrat';
  color: white;
  
}

body {
  background-color: rgb(15, 15, 15);
  margin: 0px;
  padding: 0px;
}

.header-app {
  h1 {
    margin-left: 10px;
  }
}

.navbar{
  position: fixed;
  bottom: 0;
  background-color: rgb(25, 25, 25);
  width: 100%;
  height: 70px;
  text-align: center;
  

  a {
    padding: 10%;
    
    svg {
      margin-top: 15px;
    }

  }
}


.feed-post {
  margin-bottom: 70px;
  h4 {
    margin-left: 10px;
  }
  img {
    height: 500px;
    width: 100%;
  }
  .post-likes{
    p{
      margin: 10px 20px 10px 20px;
      font-size: 150%;
    }
  }
}

.auth-form{
  text-align: center;
  margin-top: 35px;
  h2{
    font-size: 30px;
    margin-bottom: 40px;
  }
  .form{
    input{
      padding: 30px;
      width: 60%;
      color: white;
      background-color: rgba(0, 0, 0, 0);
      border: 2px solid white;
      border-radius: 15px;
      margin-bottom: 25px;
      font-size: 20px;
    }  
    button{
      width: 75%;
      color: white;
      border: 2px solid white;
      border-radius: 15px;
      height: 50px;
      font-size: 20px;
    }
    button:hover{
      background-color: white;
      color: black;
    }
  }
}